body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; /* Adicione esta linha para remover o espaço padrão do navegador */
    padding: 0;
    text-align: center;
    background-color: rgb(255, 221, 177);
}
p
{
    margin-bottom: 5%;
}
table
{
    border-collapse: collapse;
    width: 98%;
    border: 2px solid black;

    margin: 10px;

}

tr
{
    height: 50px;
    border: 2px solid black;
}
th
{
    background-color: rgb(247, 165, 43);

}
tbody:nth-child(even)
{
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgb(255, 217, 146); 
}
tbody tr:nth-child(even) {
    background-color: white;
     
}

.numeros
{
    text-align: right;
}
.escrita
{
    
    text-align: left;
}
caption
{
    caption-side: bottom;
    text-align: center;
}
footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 40px 0; /* Cria a altura e centraliza o texto na vertical */
    
}
